$red: rgb(231, 42, 58);
$green: #2ecb98;
$blue: #039aff;
$lightgray: rgb(247, 239, 239);
$darkgray: rgb(112, 106, 106);
$orange: #ffae45;
$lightorange: #ffdb57;
$darkpurple: rgb(39, 9, 87);
$black: #1d2332;
$background: #f2f9ff;
$pink: #f9bbc6;

