$red: rgb(231, 42, 58);
$green: rgb(49, 173, 49);
$blue: rgb(43, 117, 201);
$lightgray: rgb(247, 239, 239);
$darkgray: rgb(112, 106, 106);
$orange: rgb(177, 140, 40);
$darkpurple: rgb(39, 9, 87);
$black: rgb(29, 35, 50);
$background: #f2f9ff;

