@import "../../style_variables/colors";
@import "../../style_variables/fonts";

.container {
  font-family: $mulish;
  @apply flex flex-col;

  p {
    @apply my-3;
    color: $darkpurple;
  }

  .input {
    padding: 10px;
    border: 1px solid lightgray;
    width: 100%;
    color: $darkpurple;
    &:focus {
      outline: none;
    }
  }
  .show {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    padding: 0 5px;
    background: white;
    color: $darkpurple;
    cursor: pointer;
  }
}