@import "../../style_variables/colors";
@import "../../style_variables/fonts";

@mixin activeBlue {
  border-bottom: 2px solid $darkgray;
  color: $darkgray;
}

.navbar {
  @apply fixed w-full md:px-10 px-5 py-5 top-0 z-10;
  @apply flex flex-col;
  font-family: $mulish;
  outline: none;

  .link {
    @apply my-0 mr-5;
    color: $darkgray;
    padding: 0 0 5px 0;
    border-bottom: 2px solid white;
    outline: none;

    &.active {
      @include activeBlue();
    }
    &:hover {
      @include activeBlue();
      border-bottom: 2px solid white;
    }
  }

  button {
    padding: 7px 30px;
    background: $darkgray;
    color: white;
    border-radius: 4px;
    outline: none;
  }
}