@import "../../style_variables/mixins";
@import "../../style_variables/colors";

.container {
  @include websiteXPadding;
  @include websiteYPadding;
  @apply flex items-center justify-between;

  .lgNav {
    @apply lg:flex items-center justify-end gap-x-6 hidden;
    color: $darkgray;
    font-weight: 500;
    // @apply text-lg;

    div {
      &:hover {
        color: $black;
      }
    }
  }
}

.smNav {
  @apply flex flex-col items-start gap-4 sm:gap-5 lg:hidden;
  @include websiteXPadding;
  font-weight: 500;
  color: $darkgray;
  transition: max-height 500ms;
  overflow: hidden;
  
}
