@import "../../style_variables/colors";

.dropdownButton {
  @apply flex flex-col justify-between md:hidden;
  height: 20px;
  width: 28px;
  cursor: pointer;
  span {
    // display: block;
    height: 3px;
    border-radius: 5px;
    width: 100%;
    background: $darkgray;
  }
  .first {
    &.active {
      animation: openDropDown1 0.5s ease-in-out forwards;
    }
    &.inactive {
      animation: closeDropDown1 0.5s ease-in-out;
    }
  }
  .second {
    transition: 0.25s ease-in-out;
    &.active {
      opacity: 0;
    }
    &.inactive {
      opacity: 1;
    }
  }
  .third {
    &.active {
      animation: openDropDown2 0.5s ease-in-out forwards;
    }
    &.inactive {
      animation: closeDropDown2 0.5s ease-in-out forwards;
    }
  }
}


@keyframes openDropDown1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(8px) rotate(45deg);
  }
}

@keyframes openDropDown2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-9px);
  }
  100% {
    transform: translateY(-9px) rotate(-45deg);
  }
}

@keyframes closeDropDown1 {
  0% {
    transform: translateY(8px) rotate(45deg);
  }
  50% {
    transform: translateY(8px) rotate(0deg);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes closeDropDown2 {
  0% {
    transform: translateY(-9px) rotate(-45deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(0px);
  }
}