@import "../../style_variables/colors";
@import "../../style_variables/fonts";

.header {
  font-family: $poppins;
  color: $darkpurple;
  @apply text-2xl md:text-3xl text-center;
}

.form {
  font-family: $mulish;
  button {
    @apply mt-10 w-full uppercase py-3;
    background: $red;
    color: white;
    outline: none;
    font-family: $mulish;
  }
  .error {
    @apply text-sm text-red-500;
  }
}