@import "../../style_variables/fonts";
@import "../../style_variables/colors";

.footer {
  font-family: $mulish;
  .copyright {
    background: rgb(34, 33, 33);
    color: white;
    text-align: center;
    padding: 20px;
  }
}