@import "../style_variables/mixins";
@import "../style_variables/colors";

.page_wrapper {
  .landing {
    @include websiteXPadding;
    @apply xs:py-16 py-14 flex flex-wrap items-end justify-between;
    .text {
      @apply w-full md:max-w-[500px] sm:max-w-[450px] xs:max-w-[470px];
      p {
        @apply text-[15px] leading-5 pb-6;
        color: $blue;
      }
      h1 {
        @apply md:text-7xl md:leading-[1.15em] sm:text-[3.5em] sm:leading-[1.25em] text-5xl leading-[1.2em] px-0;
        color: $black;
      }
    }
    .buttons {
      @apply mt-10 flex flex-wrap items-center gap-5;
      .aboutbutton {
        cursor: pointer;
        @apply flex items-center gap-x-3;
        color: $blue;
        font-weight: 400;
        .button {
          border: 1px solid $blue;
          padding: 14px;
          border-radius: 50%;
          background-color: $blue;
          transition: .2s linear;
        }
      }
    }
  }
}