@import "../style_variables/colors";
@import "../style_variables/fonts";

@mixin textColor($color) {
  h1 {
    color: $color;
  }
}

@mixin button($color) {
  button {
    padding: 10px 20px;
    @apply mt-5 md:mt-7;
    color: $color;
    border: 1px solid $color;
    outline: none;
  }
}

@mixin activeShape($color) {
  .shape_fill {
    fill: $color;
  }
}

.slideshow {
  @apply h-[100vh] w-full;
  font-family: $mulish;
  position: relative;
  

  .custom_shape_divider_top_1686273595 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 70px;
      transform: rotateY(180deg);
    }

    .shape_fill {
      transition: fill 700ms ease-in-out;
    }

    &.red {
      @include activeShape($red);
    }
    &.green {
      @include activeShape($green);
    }
    &.blue {
      @include activeShape($blue);
    }
  }

  .slide {
    @apply flex md:flex-row md:items-center h-[100vh] flex-col justify-center items-center;
    position: absolute;
    @apply top-0 left-0;
    opacity: 0;
    z-index: -5;
    .writeup {
      @apply md:w-1/2 w-full px-5;
      opacity: 0;
      h1 {
        @apply text-5xl md:text-5xl lg:text-6xl;
        transition: 200ms ease-in-out;
        // color: $red;
        font-family: $poppins;
      }
      p {
        @apply mt-5 md:mt-7;
        color: rgb(54, 52, 52);
        transition: 200ms ease-in-out;
      }
    }
    .pictures {
      // @apply h-[100vh] flex items-center;
      @apply md:w-1/3 w-full hidden md:flex md:justify-center;
      transform: rotateY(45deg);
      opacity: 0;
      transition: 500ms ease-in-out;
    }
    &.active {
      opacity: 1;
      z-index: 1;
      &.red {
        @include textColor($red);
        @include button($red);
      }
      &.blue {
        @include textColor($blue);
        @include button($blue);
      }
      &.green {
        @include textColor($green);
        @include button($green);
      }

      .pictures {
        transform: rotateY(0deg);
        opacity: 1;
      }

      .writeup {
        opacity: 1;
      }
    }
  }
}

.indicator_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  bottom: 2em;
  @apply flex;
  .indicator {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $lightgray;
    transition: all 200ms ease-in-out;
    @apply mx-0.5;
    &.active {
      background-color: inherit;
      border: 1px solid $lightgray;
      width: 20px;
      border-radius: 4px;
    }
  }
}

.backbutton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  color: $darkgray;
  padding: 10px;
  z-index: 10;
  border-radius: 50%;

  &:hover {
    background: $lightgray;
    cursor: pointer;
  }
}

.forwardbutton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: $darkgray;
  padding: 10px;
  z-index: 10;
  border-radius: 50%;

  &:hover {
    background: $lightgray;
    cursor: pointer;
  }
}